<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.example.springboot.entity.Product">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="image" column="image" jdbcType="VARCHAR"/>
        <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
        <result property="price" column="price" jdbcType="DECIMAL"/>
        <result property="quantity" column="quantity" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="VARCHAR"/>
        <result property="reason" column="reason" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,image,category_id,price,quantity,user_id,state,create_time,update_time,reason
    </sql>
    <delete id="deleteByUserId">
        delete from product where user_id=#{userId}
    </delete>


    <select id="queryDetailMap" resultType="map">
        select p.*,u.username user_username,u.nickname user_nickname,u.avatar user_avatar,c.name category_name
        from product p inner join user u inner join category c on p.user_id=u.id and p.category_id=c.id
        where p.id=#{id}
    </select>

    <select id="selectPageByNameOrCategory" resultType="java.util.Map">
        select p.*,u.nickname user_nickname,u.avatar user_avatar,c.name category_name
        from product p inner join user u inner join category c on p.user_id=u.id and p.category_id=c.id
        <where>
            p.state='上架'
            <if test="productCategory != null">
                and c.name=#{productCategory}
            </if>

            <if test="productName != null">
                and p.name like CONCAT('%', #{productName}, '%')
            </if>
        </where>
        order by p.id desc

    </select>

    <select id="selectByParams" resultType="java.util.Map">
        select p.*,u.username user_username,u.avatar user_avatar,c.name category_name
        from product p inner join user u inner join category c on p.user_id=u.id and p.category_id=c.id
        <where>
            <if test="productId != null and username != null">
                p.id=#{productId} and u.username=#{username}
            </if>
            <if test="productId != null and username == null">
                p.id=#{productId}
            </if>
            <if test="productId == null and username != null">
                u.username=#{username}
            </if>
        </where>
        order by p.id desc
    </select>

    <select id="selectProductsByUserId" resultType="java.util.Map">
        select p.*,c.name category_name
        from product p inner join category c on p.category_id=c.id
        where p.user_id=#{userId} and p.state=#{productState}
    </select>


</mapper>